Repository bkil/secuchart: changes, and which pre-commit hooks are due for each by the changed paths.
All: reduce-item, check-props

reduce-item:
  name: script/reduce-item.sh
  entry: script/reduce-item.sh
  language: system

check-props:
  name: script/check-props.sh
  entry: script/check-props.sh
  language: system

data/keet: update
  data/keet.csv
Due: reduce-item

data/_properties,*: remove deprecated "Emoticons in message"
  data/_properties.csv
  data/aTalk.csv
  data/briar.csv
  data/cheogram.csv
  data/conversations.csv
  data/delta_chat.csv
  data/dino.csv
  data/fluffychat.csv
  data/gajim.csv
  data/imessage.csv
  data/matrix.csv
  data/meshenger.csv
  data/molly.csv
  data/nekogramx.csv
  data/nheko.csv
  data/qaul.csv
  data/quiet.csv
  data/schildichat.csv
  data/signal.csv
  data/signal_foss.csv
  data/signal_jw.csv
  data/simplex.csv
  data/snapchat.csv
  data/telegram.csv
  data/telegram_foss.csv
  data/threema.csv
  data/tox.csv
  data/whatsapp.csv
  data/wickr_me.csv
Due: reduce-item, check-props

_doc/public_room_e2ee: bump test date
  data/_doc/6-public_room_e2ee.md
Due: none

_doc/properties: clarify web forum vs. contact
  data/_doc/1-properties.md
Due: none

data: ToS update
  data/keet.csv
Due: reduce-item

data/teleguard: add
  data/_items.csv
  data/teleguard.csv
Due: reduce-item

telegram: malware in videos zero-day
  data/telegram.csv
Due: reduce-item

_doc/todo_items.md: elaborate some links and status
  data/_doc/2-todo_items.md
Due: none

data/meshenger.csv: update Voice calls reference URL inside git
  data/meshenger.csv
Due: reduce-item

script/build-js0.sh: renamed GitLab repository to gemiweb0
  script/build-js0.sh
Due: none

.gitlab-ci.yml: compress LICENSE.data
  .gitlab-ci.yml
Due: none

data/_doc/2-todo-items: i2pchat link
  data/_doc/2-todo_items.md
Due: none

data/delta_chat.csv: another link for remote message correction
  data/delta_chat.csv
Due: reduce-item

data/threema.csv: link to threemagroups
  data/threema.csv
Due: reduce-item

_doc/teleguard_review.md: add criticism
  data/_doc/teleguard_review.md
Due: none

_doc/signal_review.md: list of missing sources, dependencies
  data/_doc/signal_review.md
Due: none

Todo - Android-Bonjour-WebRTC
  data/_doc/2-todo_items.md
Due: none

Simplex - Trail of Bits audit 2024/08
  data/simplex.csv
Due: reduce-item

Signal-FOSS added web forum link
  data/signal_foss.csv
Due: reduce-item

Delta Chat supports proxy on all platforms
  data/delta_chat.csv
Due: reduce-item

data/delta_chat.csv: add GitHub issue reference for proxy
  data/delta_chat.csv
Due: reduce-item

_doc/credits: link2xt
  data/_doc/1-credits.md
Due: none

_doc/public_room_e2ee: display name, avatar, GitHub UTD issue
  data/_doc/6-public_room_e2ee.md
Due: none

_doc/zoom_review: Wikipedia privacy issues
  data/_doc/zoom_review.md
Due: none

_doc/signal_review: source for SMS verification component
  data/_doc/signal_review.md
Due: none

_doc/properties: gemiweb0 link
  data/_doc/1-properties.md
Due: none

data/nekogramx: hide, removed from f-droid and GitHub
  data/cache/nekogramx.csv
  data/nekogramx.csv
Due: reduce-item

data/cache: update versions except removals
  data/cache/aTalk.csv
  data/cache/briar.csv
  data/cache/cheogram.csv
  data/cache/conversations.csv
  data/cache/delta_chat.csv
  data/cache/fluffychat.csv
  data/cache/jami.csv
  data/cache/keet.csv
  data/cache/keybase.csv
  data/cache/matrix.csv
  data/cache/meshenger.csv
  data/cache/monocles.csv
  data/cache/mumble.csv
  data/cache/olvid.csv
  data/cache/qaul.csv
  data/cache/quiet.csv
  data/cache/schildichat.csv
  data/cache/session.csv
  data/cache/signal.csv
  data/cache/simplex.csv
  data/cache/skype.csv
  data/cache/smoke.csv
  data/cache/snapchat.csv
  data/cache/telegram.csv
  data/cache/telegram_foss.csv
  data/cache/threema.csv
  data/cache/tox.csv
  data/cache/viber.csv
  data/cache/whatsapp.csv
  data/cache/wire.csv
  data/cache/zoom.csv
Due: none

data/monocles: repo URL, Play, iOS recommendation, summary, languages
  data/monocles.csv
Due: reduce-item

data/simplex: note group chat limitations
  data/simplex.csv
Due: reduce-item

Monocles updates
  data/monocles.csv
Due: reduce-item

Signal has multiple third-party clients
  data/signal.csv
Due: reduce-item

Signal has no security audit reports published
  data/signal.csv
Due: reduce-item

data/signal: third-party f-droid link
  data/signal.csv
Due: reduce-item

data/signal: reword f-droid/apk description
  data/signal.csv
Due: reduce-item

script/enrich-metadata: update gplay parser to follow HTML changes
  script/enrich-metadata.sh
Due: none

_doc/todo-items: Langis, Signal-LTS, Whisperfish, Flare
  data/_doc/2-todo_items.md
Due: none

todo - SocketChat
  data/_doc/2-todo_items.md
Due: none

Delta Chat welcome message edit / removal
  data/delta_chat.csv
Due: reduce-item

data/conversations.csv: audit
  data/conversations.csv
Due: reduce-item

Path conditions:
  reduce-item: any of: ^data/[^_][^/]*\.csv$
  check-props: any of: ^data/_properties\.csv$
