Repository bkil/secuchart: changes, and which pre-commit hooks are due for each by the changed paths.
All: reduce-item, check-props

reduce-item:
  name: script/reduce-item.sh
  entry: script/reduce-item.sh
  language: system

check-props:
  name: script/check-props.sh
  entry: script/check-props.sh
  language: system

Dino - partial XEP-0447: Stateless file sharing
  data/dino.csv
Due: reduce-item

todo - ScratchChat
  data/_doc/2-todo_items.md
Due: none

todo: bitchat
  data/_doc/2-todo_items.md
Due: none

data/keet: apk link
  data/keet.csv
Due: reduce-item

data/telegram_foss,manyverse: removed from f-droid
  data/manyverse.csv
  data/telegram_foss.csv
Due: reduce-item

script/enrich-metadata: upstream format update, multiple values per line
  script/enrich-metadata.sh
Due: none

script/enrich-metadata: retry broken downloads
  script/enrich-metadata.sh
Due: none

data/whatsapp: updates by gooseworld
  data/_doc/1-credits.md
  data/whatsapp.csv
Due: reduce-item

data/cache: update
  data/cache/aTalk.csv
  data/cache/briar.csv
  data/cache/cheogram.csv
  data/cache/conversations.csv
  data/cache/delta_chat.csv
  data/cache/fluffychat.csv
  data/cache/jami.csv
  data/cache/keet.csv
  data/cache/keybase.csv
  data/cache/manyverse.csv
  data/cache/matrix.csv
  data/cache/meshenger.csv
  data/cache/monocles.csv
  data/cache/olvid.csv
  data/cache/qaul.csv
  data/cache/quassel.csv
  data/cache/quiet.csv
  data/cache/schildichat.csv
  data/cache/session.csv
  data/cache/signal.csv
  data/cache/simplex.csv
  data/cache/skype.csv
  data/cache/snapchat.csv
  data/cache/telegram.csv
  data/cache/telegram_foss.csv
  data/cache/threema.csv
  data/cache/tox.csv
  data/cache/viber.csv
  data/cache/whatsapp.csv
  data/cache/wire.csv
  data/cache/zoom.csv
Due: none

script/enrich-metadata: restore space prefix invariant
  script/enrich-metadata.sh
Due: none

data/telegram: group chat leaks
  data/telegram.csv
Due: reduce-item

data/keet: add 2 archive links
  data/keet.csv
Due: reduce-item

data/keet: updaten by gooseworld
  data/keet.csv
Due: reduce-item

Create coldwire.csv
  data/coldwire.csv
Due: reduce-item

Update coldwire.csv
  data/coldwire.csv
Due: reduce-item

_doc/todo_items: basecamp/once-campfire
  data/_doc/2-todo_items.md
Due: none

data/_properties: elaborate Network store and forward
  data/_properties.csv
Due: check-props

data/signal: SGX vulnerabilities
  data/signal.csv
Due: reduce-item

data/coldwire: amendment by author
  data/coldwire.csv
Due: reduce-item

data/coldwire: missing properties, regularize format, remove unsourced
  data/_items.csv
  data/coldwire.csv
Due: reduce-item

web/favicon,secuchart-avatar,.gitattributes: add
  .gitattributes
  script/generate-site.sh
  web/favicon.png
  web/secuchart-avatar.png
Due: none

web/index.template.html: update meta, favicon, description
  web/index.template.html
Due: none

data/delta_chat: refs, blanks, repro, contact
  data/delta_chat.csv
Due: reduce-item

_doc/session_review: anon planet caution
  data/_doc/session_review.md
Due: none

_doc/properties: extend register without app and read public content
  data/_doc/1-properties.md
Due: none

data/wickr_me: protocol, expiration, E2EE, bounty, audit, vendor, fund
  data/wickr_me.csv
Due: reduce-item

data/skype: dead
  data/skype.csv
Due: reduce-item

_doc/todo_items: spacebarchat (Discord clone), campfire basecamp
  data/_doc/2-todo_items.md
Due: none

_doc/todo-items: merge Fosscord with spacebarchat
  data/_doc/2-todo_items.md
Due: none

data/nheko: VoIP
  data/nheko.csv
Due: reduce-item

data/delta_chat: app locking, offline invites
  data/delta_chat.csv
Due: reduce-item

Path conditions:
  reduce-item: any of: ^data/[^_][^/]*\.csv$
  check-props: any of: ^data/_properties\.csv$
