Repository bkil/secuchart: changes, and which pre-commit hooks are due for each by the changed paths.
All: reduce-item, check-props

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        exclude_types: [markdown]

  - repo: local
    hooks:
      - id: reduce-item
        name: script/reduce-item.sh
        entry: script/reduce-item.sh
        language: system
        files: '^data/[^_][^/]*\.csv$'

  - repo: local
    hooks:
      - id: check-props
        name: script/check-props.sh
        entry: script/check-props.sh
        language: system
        files: '^data/_properties\.csv$'

  - repo: local
    hooks:
      - id: git-diff
        name: git diff
        entry: git diff --exit-code
        language: system
        always_run: true

data/retroshare.csv: broken f-droid link, add github comment reason
  data/retroshare.csv
Due: reduce-item

script/enrich-metadata.sh: parse new edge case
  script/enrich-metadata.sh
Due: none

data/cache: update apk versions via enrich-metadata.sh
  data/cache/briar.csv
  data/cache/cheogram.csv
  data/cache/conversations.csv
  data/cache/delta_chat.csv
  data/cache/fluffychat.csv
  data/cache/jami.csv
  data/cache/keybase.csv
  data/cache/manyverse.csv
  data/cache/matrix.csv
  data/cache/meshenger.csv
  data/cache/monocles.csv
  data/cache/mumble.csv
  data/cache/nekogramx.csv
  data/cache/olvid.csv
  data/cache/qaul.csv
  data/cache/quiet.csv
  data/cache/retroshare.csv
  data/cache/schildichat.csv
  data/cache/session.csv
  data/cache/signal.csv
  data/cache/simplex.csv
  data/cache/skype.csv
  data/cache/snapchat.csv
  data/cache/telegram.csv
  data/cache/telegram_foss.csv
  data/cache/threema.csv
  data/cache/tox.csv
  data/cache/viber.csv
  data/cache/whatsapp.csv
  data/cache/wickr_me.csv
  data/cache/wire.csv
  data/cache/zoom.csv
Due: none

external_comparison_charts: link to xdaforums
  data/_doc/9-external_comparison_charts.md
Due: none

data/monal.csv: add
  data/monal.csv
Due: reduce-item

data/_items.csv: add monal
  data/_items.csv
Due: none

Threema Libre also in regular F-Droid repository
  data/threema.csv
Due: reduce-item

data/molly.csv: multiple devices
  data/molly.csv
Due: reduce-item

Multiple devices for Signal-JW /Signal-FOSS - only used as primary
  data/signal_foss.csv
  data/signal_jw.csv
Due: reduce-item

script/generate-site,data: filter for discontinued development/hosting
  data/SafeUM.csv
  data/_properties.csv
  data/wickr_me.csv
  data/xx.csv
  script/generate-site.sh
  script/include.inc.sh
Due: reduce-item, check-props

data/cache: update package versions
  data/cache/aTalk.csv
  data/cache/cheogram.csv
  data/cache/conversations.csv
  data/cache/delta_chat.csv
  data/cache/fluffychat.csv
  data/cache/jami.csv
  data/cache/keybase.csv
  data/cache/matrix.csv
  data/cache/meshenger.csv
  data/cache/monocles.csv
  data/cache/olvid.csv
  data/cache/quiet.csv
  data/cache/schildichat.csv
  data/cache/session.csv
  data/cache/signal.csv
  data/cache/simplex.csv
  data/cache/skype.csv
  data/cache/smoke.csv
  data/cache/snapchat.csv
  data/cache/telegram.csv
  data/cache/telegram_foss.csv
  data/cache/threema.csv
  data/cache/tox.csv
  data/cache/viber.csv
  data/cache/whatsapp.csv
  data/cache/wire.csv
  data/cache/zoom.csv
Due: none

TODO: Tailchat
  data/_doc/2-todo_items.md
Due: none

about_project: add help how to edit the chart
  data/_doc/1-about_project.md
Due: none

update SimpleX Chat
  data/simplex.csv
Due: reduce-item

data/simplex.csv: fix up tests, remove unused properties
  data/simplex.csv
Due: reduce-item

External chart at privacyspreadsheet
  data/_doc/9-external_comparison_charts.md
Due: none

TODO: Revolt Chat
  data/_doc/2-todo_items.md
Due: none

berty: adjust URL to reality, old was 404
  data/_doc/berty_review.md
Due: none

cwtch 1.14 - custom themes
  data/cwtch.csv
Due: reduce-item

toto - Tinode
  data/_doc/2-todo_items.md
Due: none

script/generate-site.sh: autolink xmpp: URI
  script/generate-site.sh
Due: none

_doc/1-about_project: mention the XMPP MUC
  data/_doc/1-about_project.md
Due: none

data/_doc: replace Unicode puncuation with plain ASCII
  data/_doc/3-pc-vs-smartphone.md
  data/_doc/3-vpn.md
  data/_doc/matrix_review.md
  data/_doc/telegram_review.md
  data/_doc/threema_review.md
  data/_doc/whatsapp_review.md
Due: none

script/build.js: generate /0/all-txt.json JS (JSONP) CSS
  .gitlab-ci.yml
  script/build-js0.sh
  script/build-lib.js
  script/build.js
Due: none

script/build-lib.js: WIP
  script/build-lib.js
Due: none

script/build-lib.js: handle detached git head
  script/build-lib.js
Due: none

script/build-lib.js: /0/status.js gitVersion & now for update checking
  script/build-lib.js
Due: none

data/_doc/1-credits.md: add, link from about_project
  data/_doc/1-about_project.md
  data/_doc/1-credits.md
Due: none

fixup
  data/_doc/1-credits.md
Due: none

.gitignore: .bk
  .gitignore
Due: none

_doc/1-about_project: typo
  data/_doc/1-about_project.md
Due: none

script/generate-site.sh: autolink more protocols
  script/generate-site.sh
Due: none

_doc/external_overviews: beebom (probably SEO, but may look into props)
  data/_doc/8-external_overviews.md
Due: none

data: Logo,Wiki,Domain,Manual,Forum,Contact,RSS, fill for half of items
  data/SafeUM.csv
  data/_properties.csv
  data/aTalk.csv
  data/briar.csv
  data/cheogram.csv
  data/conversations.csv
  data/cwtch.csv
  data/delta_chat.csv
  data/dino.csv
  data/fluffychat.csv
  data/gajim.csv
  data/gnunet.csv
  data/imessage.csv
  data/jami.csv
  data/keybase.csv
  data/manyverse.csv
  data/matrix.csv
  data/meshenger.csv
  data/molly.csv
  data/monal.csv
  data/monocles.csv
Due: reduce-item, check-props

.gitignore: newline
  .gitignore
Due: none

data/jami.csv: remove Reddit community banned recently, TODO:check later
  data/jami.csv
Due: reduce-item

data/_properties: reorder to subsections
  data/_properties.csv
Due: check-props

script/generate-site.sh: replace hardcoded http:// with $URIREGEX
  script/generate-site.sh
Due: none

data/*.csv: reorder with reduce-item.sh to follow _properties.csv
  data/SafeUM.csv
  data/aTalk.csv
  data/briar.csv
  data/cheogram.csv
  data/conversations.csv
  data/cwtch.csv
  data/delta_chat.csv
  data/dino.csv
  data/fluffychat.csv
  data/gajim.csv
  data/gnunet.csv
  data/imessage.csv
  data/jami.csv
  data/keybase.csv
  data/manyverse.csv
  data/matrix.csv
  data/meshenger.csv
  data/molly.csv
  data/monal.csv
  data/monocles.csv
Due: reduce-item
