Repository bkil/secuchart: changes, and which pre-commit hooks are due for each by the changed paths.
All: reduce-item, check-props

reduce-item:
  name: script/reduce-item.sh
  entry: script/reduce-item.sh
  language: system

check-props:
  name: script/check-props.sh
  entry: script/check-props.sh
  language: system

data/_properties,aTalk: typo SaaS
  data/_properties.csv
  data/aTalk.csv
Due: reduce-item, check-props

data/cwtch: Manual: security handbook
  data/cwtch.csv
Due: reduce-item

data/cache: update package versions, update fdroid date parsing
  data/cache/SafeUM.csv
  data/cache/aTalk.csv
  data/cache/briar.csv
  data/cache/cheogram.csv
  data/cache/conversations.csv
  data/cache/delta_chat.csv
  data/cache/fluffychat.csv
  data/cache/jami.csv
  data/cache/keybase.csv
  data/cache/matrix.csv
  data/cache/meshenger.csv
  data/cache/monocles.csv
  data/cache/mumble.csv
  data/cache/olvid.csv
  data/cache/qaul.csv
  data/cache/quiet.csv
  data/cache/schildichat.csv
  data/cache/session.csv
  data/cache/signal.csv
  data/cache/simplex.csv
  data/cache/skype.csv
  data/cache/smoke.csv
  data/cache/snapchat.csv
  data/cache/telegram.csv
  data/cache/telegram_foss.csv
  data/cache/threema.csv
  data/cache/tox.csv
  data/cache/viber.csv
  data/cache/whatsapp.csv
  data/cache/wickr_me.csv
  data/cache/wire.csv
  data/cache/zoom.csv
  script/enrich-metadata.sh
Due: none

data/mumble: add manual, wiki, domain, etc.
  data/mumble.csv
Due: reduce-item

web/index.template.html: remove JavaScript editor for 24 Apr
  web/index.template.html
Due: none

web/index.template.html: add interactive to the title
  web/index.template.html
Due: none

script/generate-site.sh: automatically remove JS every year
  script/generate-site.sh
  web/index.template.html
Due: none

Fill out additional three fields for SimpleX
  data/simplex.csv
Due: reduce-item

data/telegram: pyzw RCE
  data/telegram.csv
Due: reduce-item

data/signal: screen sharing, account replica, landing, manual, recovery, bandwidth, logo, contacts, metadata, bounty, wiki, forum, contact, rss, bans, domain, HTML redressing, Twilio
  data/signal.csv
Due: reduce-item

data/signal: deniability, groups v2 metadata leak
  data/signal.csv
Due: reduce-item

data/nekogramx: links in summary vs. details, contact, logo
  data/nekogramx.csv
Due: reduce-item

data/delta_chat: public-bots
  data/delta_chat.csv
Due: reduce-item

data/_doc/6-p2p: UGC, anonymity, operating costs
  data/_doc/6-p2p.md
Due: none

Todo - 0xchat is a secure chat app built on the Nostr protocol.
  data/_doc/2-todo_items.md
Due: none

Telegram - vuln links updates
  data/telegram.csv
Due: reduce-item

Fixed typo (do not edit files manually :)
  data/telegram.csv
Due: reduce-item

data/_doc: RMS: Discord, Google, Apple, Microsoft, Slack, WhatsApp, Zoom
  data/_doc/discord_review.md
  data/_doc/hangouts_review.md
  data/_doc/imessage_review.md
  data/_doc/skype_review.md
  data/_doc/slack_review.md
  data/_doc/whatsapp_review.md
  data/_doc/zoom_review.md
Due: none

_doc/zoom_review: remove extra line
  data/_doc/zoom_review.md
Due: none

data/molly by paciento: voice sticker reaction lock meta PFS SOCKS $
  data/_doc/1-credits.md
  data/molly.csv
Due: reduce-item

Taking care of broken links
  data/_doc/1-presentation.md
  data/_doc/2-todo_items.md
  data/_doc/3-security_guides.md
  data/_doc/6-e2ee-web-apps.md
  data/_doc/8-external_overviews.md
  data/_doc/9-external_comparison_charts.md
  data/_doc/matrix_review.md
  data/_doc/signal_review.md
  data/_doc/snapchat_review.md
  data/_doc/xmpp_review.md
  data/matrix.csv
Due: reduce-item

data/matrix,_doc/todo,overviews: find where some 404 links pointed to
  data/_doc/2-todo_items.md
  data/_doc/8-external_overviews.md
  data/matrix.csv
Due: reduce-item

data/signal,delta_chat: link to unofficial matrix rooms
  data/delta_chat.csv
  data/signal.csv
Due: reduce-item

data/mumble: remove duplicate link
  data/mumble.csv
Due: reduce-item

data: update XMPP retract correct react presence expiration
  data/aTalk.csv
  data/cheogram.csv
  data/conversations.csv
  data/dino.csv
  data/gajim.csv
  data/monal.csv
  data/monocles.csv
  data/pidgin.csv
Due: reduce-item

_doc/1-about_project: git RSS feed, clarify wording of chart editing
  data/_doc/1-about_project.md
Due: none

Gajim - reactions released
  data/gajim.csv
Due: reduce-item

data/_properties,*.csv: reword, Replies
  data/_properties.csv
  data/aTalk.csv
  data/briar.csv
  data/cheogram.csv
  data/conversations.csv
  data/cwtch.csv
  data/delta_chat.csv
  data/dino.csv
  data/fluffychat.csv
  data/gajim.csv
  data/gnunet.csv
  data/imessage.csv
  data/jami.csv
  data/keybase.csv
  data/matrix.csv
  data/monal.csv
  data/monocles.csv
  data/nheko.csv
  data/pidgin.csv
  data/quassel.csv
  data/schildichat.csv
  data/signal.csv
  data/telegram.csv
Due: reduce-item, check-props

data/cache/*.csv: update apk versions
  data/cache/aTalk.csv
  data/cache/briar.csv
  data/cache/cheogram.csv
  data/cache/conversations.csv
  data/cache/delta_chat.csv
  data/cache/fluffychat.csv
  data/cache/jami.csv
  data/cache/keybase.csv
  data/cache/matrix.csv
  data/cache/meshenger.csv
  data/cache/monocles.csv
  data/cache/olvid.csv
  data/cache/qaul.csv
  data/cache/quassel.csv
  data/cache/schildichat.csv
  data/cache/session.csv
  data/cache/signal.csv
  data/cache/simplex.csv
  data/cache/skype.csv
  data/cache/snapchat.csv
  data/cache/telegram.csv
  data/cache/telegram_foss.csv
  data/cache/threema.csv
  data/cache/tox.csv
  data/cache/viber.csv
  data/cache/whatsapp.csv
  data/cache/wire.csv
  data/cache/zoom.csv
Due: none

data/delta_chat,some more: updates, link refactor, reactions
  data/delta_chat.csv
  data/fluffychat.csv
  data/imessage.csv
  data/jami.csv
  data/nheko.csv
  data/schildichat.csv
  data/signal.csv
Due: reduce-item

Init Keet
  data/_items.csv
  data/keet.csv
Due: reduce-item

Fixed broken header due to keet
  data/keet.csv
Due: reduce-item

Keet updates, credit to neotdc
  data/_doc/1-credits.md
  data/keet.csv
Due: reduce-item

Todo - positive-intentions
  data/_doc/2-todo_items.md
Due: none

_doc/1-properties: explanation of properties
  data/_doc/1-properties.md
Due: none

todo - otr.to + freenet-chat
  data/_doc/2-todo_items.md
Due: none

_doc/1-credits: update status
  data/_doc/1-credits.md
Due: none

data/delta_chat: note secondary device as backup
  data/delta_chat.csv
Due: reduce-item

data/cache/keet.csv: add
  data/cache/keet.csv
Due: none

script/generate-site: Researched property to hide fixme items
  data/_properties.csv
  data/olvid.csv
  data/smoke.csv
  data/xmpp.csv
  script/generate-site.sh
Due: reduce-item, check-props

Path conditions:
  reduce-item: any of: ^data/[^_][^/]*\.csv$
  check-props: any of: ^data/_properties\.csv$
